//Pour importer @import "../Utils/mixins.scss";

@import "../Utils/variables.scss";

@mixin button {
    color: white;
    background: linear-gradient(175deg, $secondaryColor, $primaryColor);
    width: 17rem;
    height: 3.7rem;
    border-radius: 10rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 12px rgb(163, 163, 163);
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.3rem;

    &:hover {
        background: linear-gradient(175deg, #ff79d9b6, #9256dcb9);
        box-shadow: 5px 5px 12px rgb(49, 49, 49);
    }

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        width: 25rem;
        height: 5.5rem;
        font-size: 1.8rem;
    }
}

@mixin logo {
    width: 16rem;
    height: 2.7rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}


//Accueil-partie Fonctionnement

@mixin fonctionnement {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
        gap: 2rem;
    }
}

@mixin fonctionnementIcones_xsmall {
    @media screen and (min-width: 360px) {
        margin-right: -20px;
    }
}

@mixin fonctionnementIcones_small {
    @media screen and (min-width: map-get($breakpoints, mobile_small)) {
        margin: 0 1rem 0 0.8rem;
    }
}

@mixin fonctionnementIcones_bigger {
    @media screen and (min-width: 685px) {
        font-size: 35px;
    }
}

@mixin fonctionnementIcones_xbigger {
    @media screen and (min-width: 1080px) {
        font-size: 45px;
    }
}

@mixin fonctionnement_sansTitre {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        flex-direction: column;
        justify-content: space-between;
        height: 175px;
    }
}

@mixin etapes_small {
    @media screen and (min-width: map-get($breakpoints, mobile_xsmall)) {
        margin-left: 2rem;
    }
}

@mixin etapes_bigger {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        margin: 1rem 1rem 2rem 1rem;
    }
}

@mixin number_xsmall {
    @media screen and (min-width: map-get($breakpoints, mobile_xsmall)) {
        margin-right: 20px;
    }
}

@mixin number_small {
    @media screen and (min-width: 430px) {
        margin-left: -16px;
        margin-right: 0;
    }
}

@mixin number_bigger {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        align-self: start;
        margin-top: -.5rem;
        margin-left: -.5rem;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}


//Accueil-Partie Restaurants

@mixin restaurants {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 25px;
        row-gap: 15px;
    }
}

@mixin restaurants_carte_bigger {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        margin: 0;
        height: 340px;
    }
}

@mixin restaurants_carte_xbigger {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        height: 380px;
    }
}

@mixin restaurants_carte_2xbigger {
    @media screen and (min-width: 1300px) {
        width: 32%;
    }
}


@mixin nouveau_bigger {
    @media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: 730px) {
        width: 80px;
        height: 32px;
        font-size: .9rem;
    }
}

@mixin nouveau_xbigger {
    @media screen and (min-width: 730px) and (max-width: map-get($breakpoints, tablet_xbig)) {
        width: 96px;
        height: 40px;
        font-size: 1.1rem;
    }
}


//Restaurants-Header

@mixin logo_small {
    @media screen and (max-width: map-get($breakpoints, mobile_small)) {
        width: 13rem;
        height: 2.1rem;
    }
}

@mixin retour_small {
    @media screen and (max-width: map-get($breakpoints, mobile_small)) {
        font-size:24px;
        left: 15px;
    }
}

//Restaurants-Partie Menu

@mixin coeur_small {
    @media screen and (max-width:458px) {
        left: -1px;
        top: 37px;
    }
}



@mixin menu-titre_tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        justify-content: space-between;
    }
}

@mixin menu-titre_tablet-xbig {
    @media screen and (min-width: map-get($breakpoints, tablet_xbig)){
        justify-content: flex-start;
    }
}

@mixin menu-cartes_pc {
    @media screen and (min-width: map-get($breakpoints, tablet_xbig)) {
        display: flex;
    }    
}

