$breakpoints : (
    mobile_xsmall:400px,
    mobile_small:480px,
    tablet: 640px,
    tablet_big: 735px,
    tablet_xbig: 850px,
    pc: 1280px
);


//Couleurs

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;