$breakpoints : (
    mobile_xsmall:400px,
    mobile_small:480px,
    tablette: 640px,
    tablette_big: 735px,
    pc: 1008px
);


//Couleurs

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;