//Explorer

.explorer {
    width: 100%;
    .explorer-loc {
        background-color: #eaeaea;
        height: 4.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 3px 5px rgb(196, 196, 196);

        h2 {
            opacity: 0.8;
        }
    }

    .explorer-accueil {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: #f6f6f6;
        text-align: center;

        p {
            opacity: 0.8;
            font-size: x-large;
        }
    }

}


//Fonctionnement

.fonctionnement {
    margin: 4rem 0 6rem 2rem;

    h1 {
        margin-left: -1rem;
    }

    .etapes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        height: 19.5rem;
    }

    .etape {
        width: 100%;
        height: 5.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 1rem;
        background-color: #f6f6f6;
        border-radius: 1.8rem;
        box-shadow: 5px 5px 12px rgb(163, 163, 163);

        &:hover {
            background-color: #f5edff;

            .fa-mobile-alt, .fa-list-ul, .fa-store{
                color: #9356DC;
                opacity: 1;
            }
        }

        .number {
            background-color: #9356DC;
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -1rem;
            color: white;
            font-family: "Roboto-Regular", sans-serif;
        }
    }
}


//Restaurants 

.liste {
    background-color: #f6f6f6;
    padding: 3rem 0 6rem 2rem;
    width: 100%;

    .cartes {
        width: 97%;
        margin-top: 2rem;

        .carte {
            background-color: white;
            border-radius: 1.5rem;
            box-shadow: 5px 5px 12px rgb(163, 163, 163);
            margin-bottom: 3rem;

            .photo {
                position: relative;

                .photo_restaurant {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 1.5rem 1.5rem 0 0;
                }

                .nouveau {
                    width: 8rem;
                    height: 3rem;
                    border-radius: 0.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0.5rem;
                    right: 1.5rem;
                    background-color: #99e2d0;
                    color: #008766;
                    font-weight: bold;
                }
            }


            .infos {
                padding: 0.5rem 2rem 0.5rem 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .texte {
                    line-height : 0.7rem;

                    h2, p {
                        color: black;
                    }

                }

                i {
                    &:hover, &:active {
                        color: linear-gradient(#9356DC, #ed73da); //à régler
                    }
                }

            }


        }

    }
}