footer {
    background-color: #353535;
    width: 100%;
    color: white;
    padding: 2rem 0 3rem 2rem;

    #logo-footer {   //logo
        color: white;   //ne fonctionne pas
        width: 8rem;
        height: 1.5rem;
    }

    .participer {   //ligne avec icon
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 0;
    }

    #autres {
        line-height: 1rem;
        a { //'contact'
            font-family: "Roboto-Light", sans-serif;
            font-size: 1.3rem;
            text-decoration: none;
            color: white;
        }
    
    }
}