

#loader {
  font-size: 180px;
  position: absolute;
  left: 45%;
  top: 40%;
  background: linear-gradient(0deg, #ed73da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
}

  
  @keyframes loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

  .splachscreen {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: loader .5s ease 2s 1 normal forwards;
  }