//Selection d'un plat
.menu-cartes_restaurant-id {

    .menu-cartes_restaurant-id_description {}

    &:hover .menu-cartes_restaurant-id_prix {
        animation: slide-left 0.6s ease-in-out 0.2s both;

        @keyframes slide-left {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-70px);
            }
        }

        p {}

        .check-background {
            animation: check_slide-left 0.6s ease-in-out 0.2s both;

            @keyframes check_slide-left {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-30px);
                }
            }

            .check {
                animation: rotate-center 0.6s ease-in-out 0.2s both;

                @keyframes rotate-center {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

//Apparition plats
/*.menu-cartes_restaurant-id_description {
    @keyframes fade-in-fwd {
        0% {
          transform: translateZ(-80px);
          opacity: 0;
        }
        100% {
          transform: translateZ(0);
          opacity: 1;
        }
      }

}

.menu-cartes_restaurant-id_description:nth-of-type(1) {
    animation: fade-in-fwd 0.6s ease-in-out 0.2s ;
}

.menu-cartes_restaurant-id_description:nth-of-type(2) {
    animation: fade-in-fwd 0.6s ease-in-out 1s ;
}

.menu-cartes_restaurant-id_description:nth-of-type(3) {
    animation: fade-in-fwd 0.6s ease-in-out 2s ;
}

.menu-cartes_restaurant-id_description:nth-of-type(4) {
    animation: fade-in-fwd 0.6s ease-in-out 3s ;
}*/