//Selection d'un plat
.menu-cartes_restaurant-id {

    .menu-cartes_restaurant-id_description {
    }

    .menu-cartes_restaurant-id_prix {

        &:hover {
            animation: slide-left 0.6s ease-in-out 0.2s both;
        }

        @keyframes slide-left {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-70px);
            }
        }

        p {
        }

        .check-background {

            &:hover {
                animation: check_slide-left 0.6s ease-in-out 0.2s both;
            }

                @keyframes check_slide-left {
                    0% {
                        transform: translateX(0);
                    }
        
                    100% {
                        transform: translateX(-30px);
                    }
                }

            .check {
                
                &:hover {
                    animation: rotate-center 0.6s ease-in-out 0.2s both;
                }


                @keyframes rotate-center {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}