.fa-map-marker-alt  {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    opacity: 0.8;
}

.fa-mobile-alt, .fa-list-ul, .fa-store{
    margin: 0 1rem 0 0.8rem;
    font-size: 1.6rem;
    opacity: 0.6;

}
