@import "../Utils/variables.scss";
@import "../Utils/mixins.scss";

//Accueil-partie explorer

.fa-map-marker-alt {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    opacity: 0.8;
}


//Accueil-partie fonctionnement

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
    margin: 0;
    font-size: 25.6px;
    opacity: 0.6;

    @include fonctionnementIcones_xsmall;
    @include fonctionnementIcones_small;
    @include fonctionnementIcones_bigger;
}


//Accueil-Animation coeur
.like {
    display: flex;

    .coeurplein-accueil,
    .coeurplein-restaurant {
        font-size: 37px;
        background: linear-gradient(0deg, $secondaryColor, $primaryColor);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: relative;
        left: 36px;
        z-index: 1;
        opacity: 0;

        &:hover {
            opacity: 1;
            animation: appearance .4s ease-in 0s 1 normal forwards;
        }

        @keyframes appearance {
            0% {
                transform: scale(0);
            }

            50% {
                transform: scale(.5);
            }

            100% {
                transform: scale(1);
            }
        }
    }

    .coeurplein-restaurant {
        @include coeur_small;
    }

    .coeurvide-accueil,
    .coeurvide-restaurant {
        font-size: 35px;
        position: relative;
        color: black;
    }
}


//Restaurants-Flèche retour

.retour,
.header-restaurant a {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.769);
    position: absolute;
    left: 20px;
    top: 17px;

    @include retour_small;
}