h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1.8rem;
}

h2 {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 1.5rem;
}

h3{
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.3rem;
}

p {
    font-family: "Roboto-Light", sans-serif;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}